<h2 class="title">Attiva il tuo account</h2>
<p class="meta"></p>
<div class="entry">
  <br>
  <h3>Istruzioni per il cambiamento password</h3>
  <% form_for :action => 'change_password' do |f| %>
      <fieldset>
        <legend>Cambia la tua password</legend>
          <dl>
              <dt><label for="old_password" class="block">Vecchia Password</label></dt>
              <dd><%= password_field_tag 'old_password', @old_password, :size => 45, :class => 'text' %></dd>

              <dt><label for="password" class="block">Nuova Password</label></dt>
              <dd><%= password_field_tag 'password', {}, :size => 45, :class => 'text' %>
              <div><small>Between 4 and 40 characters</small></div></dd>

              <dt><label for="password_confirmation"  class="block">Conferma la nuova password</label></dt>
              <dd><%= password_field_tag 'password_confirmation', {}, :size => 45, :class => 'text' %></dd>

          </dl>
          <%= submit_tag 'Cambia password' %>
      </fieldset>
      <%  end %>


</div>
