<h2 class="title">Attiva il tuo account</h2>
<p class="meta"></p>
<div class="entry">
  <h3>Istruzioni per l'attivazione</h3>
 <p>
  Abbiamo inviato un'email all'indirizzo <%= @user.email %> con le istruzioni per l'attivazione del tuo nuovo
  account.</p>
 <p>
 Se la tua email non &egrave valida, dovrai <%= link_to "registrarti", signup_path %>
 di nuovo e fornire un'indirizzo corretto.
 </p> 
</div>