<div class="post">
<h2 class="title">Richiesta di reset della password</h2>
<p class="meta"></p>
<div class="entry">
  <br>
    <% form_for :user, :url => {:action => 'forgot_password'} do |form| %>
        <fieldset>
     <legend>Password Reset</legend>
         <p>Inserisci il tuo indirizzo email e clicca su invia.</p>
            <p>
                <label for="user_email" >Indirizzo email:</label><br/>
                <%= form.text_field :email, :size => 35, :class => 'text' %>
            </p>
            <%= submit_tag 'Invia' %>
        </fieldset>
    <% end %>
</div></div>