<h2 class="title">Nuovo utente </h2>
<p class="meta">creazione di un nuovo utente</p>
<div class="entry">
<%= render :partial => "form" %>


<%= link_to 'Mostra', @user %> |
<%= link_to 'Indietro', users_path %>

</div>