<h2 class="title">Reset della password</h2>
<p class="meta"></p>
<div class="entry">
  <br>
    <% form_for :user, :url => {:action => "reset_password"} do |form| %>
     <fieldset>
     <legend>Reset Password</legend>
      <p>
                <label for="user_password" >Password</label><br/>
                <%= form.password_field :password, :size => 45, :class => 'text' %>
      </p>
      <p>
       <label for="user_password_confirmation" >Conferma nuova Password</label><br/>
         <%= form.password_field :password_confirmation, :size => 45, :class => 'text' %>
      </p>
      <%= submit_tag "Reset your password" %>
      </fieldset>
    <% end %>
</div>
