<h2 class="title">Manutenzione di ¿ChiPaga?</h2>
<p class="meta">Sito attualmente in manutenzione</p>
	<div class="entry">
		<h2> Messaggio di servizio</h2>
    <br>
		<p>E' in corso un aggiornamento del sistema. I servizi non sono attualmente disponibili. <br/>
    Si prega di tornare pi&ugrave; tardi.</p>
</div>
